---
import Layout from "../layouts/BlogPost.astro";
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
---

<Layout
	title="关于我"
	description="关于我的一些简要介绍。"
	pubDate={new Date()}
	heroImage={AboutHeroImage}
>
	<p>
		你好！我是 <a href="https://github.com/Zhang-Jingdian" target="_blank"
			>Jingdian Zhang</a
		>，一名对技术充满热情的开发者。
	</p>

	<p>
		这个博客是我分享技术见解、项目经验和生活感悟的地方。我喜欢探索新的技术，并乐于将学习到的知识分享给社区。
	</p>

	<p>
		除了编码，我还喜欢阅读、摄影和旅行。希望你在这里能找到对你有价值的内容。
	</p>
</Layout>
