---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.vue";
import HeroSection from "../components/HeroSection.vue";
---

<Layout title="我的个人博客 - 现代化技术栈">
	<main>
		<HeroSection client:load />
	</main>
	<Footer />
</Layout>
