---
import { SITE_DESCRIPTION } from "../consts";
export interface Props {
    title: string;
    description?: string;
}

const { title, description = SITE_DESCRIPTION } = Astro.props;

import Dock from "../components/dock.vue";
import { SITE_LANG } from "../consts";
---

<!doctype html>
<html lang={SITE_LANG}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot />
        </main>
        <Dock client:load />
    </body>
</html>

<style is:global>
    @import "../styles/global.css";

    main {
        padding-top: 4rem; /* to offset fixed header */
    }
</style>
